{{- include "azure-cost-exporter.validateValues" . -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "azure-cost-exporter.fullname" . }}
  labels:
    {{- include "azure-cost-exporter.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  {{- with .Values.strategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "azure-cost-exporter.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        {{- if and (not .Values.managedIdentity.enabled) (not .Values.existingSecret) }}
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
        {{- end }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "azure-cost-exporter.labels" . | nindent 8 }}
        {{- if and .Values.managedIdentity.enabled (eq .Values.managedIdentity.type "workload-identity") }}
        azure.workload.identity/use: "true"
        {{- end }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "azure-cost-exporter.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
      - name: {{ .Chart.Name }}
        securityContext:
          {{- toYaml .Values.securityContext | nindent 12 }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args:
          - "-config=/etc/azure-cost-exporter/config.yaml"
        ports:
        - name: http
          containerPort: {{ .Values.config.httpPort }}
          protocol: TCP
        {{- if or (not .Values.managedIdentity.enabled) (eq .Values.managedIdentity.type "user-assigned") }}
        env:
        {{- if not .Values.managedIdentity.enabled }}
        - name: AZURE_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: {{ include "azure-cost-exporter.secretName" . }}
              key: client-id
        - name: AZURE_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: {{ include "azure-cost-exporter.secretName" . }}
              key: client-secret
        - name: AZURE_TENANT_ID
          valueFrom:
            secretKeyRef:
              name: {{ include "azure-cost-exporter.secretName" . }}
              key: tenant-id
        {{- else if eq .Values.managedIdentity.type "user-assigned" }}
        - name: AZURE_CLIENT_ID
          value: {{ .Values.managedIdentity.clientId | quote }}
        {{- end }}
        {{- end }}
        livenessProbe:
          {{- toYaml .Values.livenessProbe | nindent 12 }}
        readinessProbe:
          {{- toYaml .Values.readinessProbe | nindent 12 }}
        resources:
          {{- toYaml .Values.resources | nindent 12 }}
        volumeMounts:
        - name: config
          mountPath: /etc/azure-cost-exporter
          readOnly: true
      volumes:
      - name: config
        configMap:
          name: {{ include "azure-cost-exporter.fullname" . }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
