name: Release Helm Chart

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: 'latest'

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        with:
          charts_dir: helm
          skip_existing: true

      - name: Update Artifact Hub metadata
        run: |
          cat > helm/azure-cost-exporter/artifacthub-repo.yml <<EOF
          repositoryID: $(echo ${{ github.repository }} | sed 's/\//-/')
          owners:
            - name: ${{ github.repository_owner }}
              email: ${{ github.repository_owner }}@users.noreply.github.com
          EOF

          if [ -n "$(git status --porcelain)" ]; then
            git add helm/azure-cost-exporter/artifacthub-repo.yml
            git commit -m "Update Artifact Hub metadata"
            git push
          fi
